        <h4>予約一覧</h4>
    </div>
      <table class="detail-owner_reserve ">
	<tr>
		<td rowspan="2">ID</td>
		<td rowspan="2">会社名</td>
		<td rowspan="2">商品名</td>
		<td rowspan="2">数量</td>
		<td rowspan="2">料金</td>
		<td rowspan="2">配送希望日</td>
		<td rowspan="2">配送希望時刻</td>
		<td colspan="4">登録住所</td>
		<td colspan="4">配送先住所</td>
	</tr>
	<tr>
		<td>郵便番号</td>
		<td>都道府県</td>
		<td>都道府県以外の住所</td>
		<td>電話番号</td>
		<td>郵便番号</td>
		<td>都道府県</td>
		<td>都道府県以外の住所</td>
		<td>電話番号</td>
	</tr>


          <% @reserves.each do |reserve| %>   
        <tr>   
           <td><%= reserve.id %> </td>   
           <td><%= reserve.user_id %> </td>    
           <td><%= reserve.email %>  </td>   
           <td><%= reserve.email %>  </td>   
           <td><%= reserve.zip_code %>  </td>   
           <td><%= reserve.prefecture.name %>   </td>   
           <td><%= reserve.address %>  </td>   
           <td><%= reserve.company_tel %>  </td>   
         </tr>
          <% end %>

        </tbody>
      </table>
      <div class="reserve_text-center">
        <%=link_to 'もどる', root_path, class:"back-btn3" %>
      </div>
  </div>
</div>