        <h4>会員一覧</h4>
    </div>
      <table class="detail-owner_members ">
        <tbody>
          <tr>
            <th class="detail-owner_members ">ID</th>
            <th class="detail-owner_members ">会社名</th>
            <th class="detail-owner_members ">メールアドレス</th>
            <th class="detail-owner_members ">パスワード</th>
            <th class="detail-owner_members ">郵便番号 </th>
            <th class="detail-owner_members ">都道府県 </th>
            <th class="detail-owner_members ">市区町村以下全て</th>
            <th class="detail-owner_members ">電話番号 </th>
          </tr>

          <% @users.each do |user| %>   
        <tr>   
           <td><%= user.id %> </td>   
           <td><%= user.company_name  %>  </td>   
           <td><%= user.email %>  </td>   
           <td><%= user.email %>  </td>   
           <td><%= user.zip_code %>  </td>   
           <td><%= user.prefecture.name %>   </td>   
           <td><%= user.address %>  </td>   
           <td><%= user.company_tel %>  </td>   
         </tr>
          <% end %>
          
        </tbody>
      </table>
      <div class="text-center">
        <%=link_to 'もどる', root_path, class:"back-btn3" %>
      </div>
  </div>
</div>

