<footer>
  <ul class="sns_icon">
    <li><a href="#"><i class="fab fa-facebook-square fa-4x"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter-square fa-4x tw-blue"></i></a></li>
    <li><a href="#"><span class="insta"><i class="fab fa-instagram"></i></span></a></li>
    <li><a href="#"><i class="fab fa-line fa-4x"></i></a></li>
  </ul>
  <ul class=footer>
    <%# <li class="detail"><a href="#">company</a></li> %>
    <!-- <li class="detail"><a href="#">最新情報</a></li> -->
    <li><%= link_to "beef", "#", class: :detail %></li>
    <li><%= link_to "pork", "#", class: :detail %></li>
    <li><%= link_to "chicken", "#", class: :detail %></li>
    <li><%= link_to "others", "#", class: :detail %></li>
    <li><%= link_to "shipping", "#", class: :detail %></li>
  </ul>
  <p>Copyright(C) Meet Lab Kajiyama ALL RIGHTS RESERVED.</p>
</footer>