<header>
  <div class="heading">
   <%= link_to image_tag("logo2.jpg", class: :title2), root_path %>
  </div>
  <div class="nav">
    <% if user_signed_in? %>
      <div class="navigation">
        <%= link_to current_user.company_name, "/users/#{current_user.id}", class: :user_name %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
        <%# <a href="reserve.html"><i class="fas fa-shopping-cart fa-2x"></i></a> %>
      </div>
    <% else %>
    <%# // ログインしているときは上記を表示するようにしましょう %>
    <%# ログインしていないときは以下を表示するようにしましょう %>
      <div class="navigation">
        <%= link_to "ログイン", new_user_session_path, class: :details %>
        <%= link_to "新規登録", new_user_registration_path, class: :details %>
        <%# <a href="reserve.html"><i class="fas fa-shopping-cart fa-2x"></i></a> %>
      </div>
    <% end %>
    <%# // ログインしていないときは上記を表示するようにしましょう %>
  </div>
</header>
<div class="head_content">
  <ul class="menu">
    <!-- <li class="detail"><a href="#">preferences</a></li>
    <li class="detail"><a href="#">information</a></li> -->

    <li class="detail", id = "detail">牛肉</li>
    <li class="detail2", id = "detail2">豚肉</li>
    <li class="detail3", id = "detail3">鶏肉</li>
    <%= link_to "その他", items_path(category_id: 8), class: :detail %>
    <%= link_to "配送について", "https://www.kuronekoyamato.co.jp/ytc/customer/send/services/cool/", class: :detail %>
  </ul>
  <ul class="show-lists hidden" id ="pulldown">
    <li><%= link_to "輸入",  items_path(category_id: 2), class: :nav_list, id:"pulldown" %></li>
    <li><%= link_to "国産",  items_path(category_id: 5), class: :nav_list, id:"pulldown" %></li>
  </ul>
  <ul class="show-lists2 hidden" id ="pulldown2">
    <li><%= link_to "輸入",  items_path(category_id: 3), class: :nav_list, id:"pulldown2" %></li>
    <li><%= link_to "国産",  items_path(category_id: 6), class: :nav_list, id:"pulldown2" %></li>
  </ul>
  <ul class="show-lists3 hidden" id ="pulldown3">
    <li><%= link_to "輸入",  items_path(category_id: 4), class: :nav_list, id:"pulldown3" %></li>
    <li><%= link_to "国産",  items_path(category_id: 7), class: :nav_list, id:"pulldown3" %></li>
  </ul>
</div>
