<%= render "shared/header" %>
<div class="main">
  <div class="main2">
    <div class="beef">
      <h1><b>輸入／牛肉</b></h1>
      <%# <% @items.each do |item| %>
        <%# <li class='list'>
          <%= link_to item_path(item.id), method: :get do %>
            <%# <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" if item.image.attached? %>
            <%# </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.name %>
              <%# </h3>
              <div class='item-price'>
                <span>1kg当たり<br><%= item.price %></span>
              <%# </div>
            </div>
          <% end %>
        <%# </li>
      <% end %> 
      <div class="items">
        <div class="item">
          <%= link_to image_tag("beef.jpg", class: :product_image), "#" %>
          <ul class="item-detail">
            <li>商品名：XXX</li>
            <li>1kg当たり</li>
            <li class="price">2500円</li>
          </ul>
          <input class="kg">kg
          <input class="sum_price">円
          <div class="reserve-btn-contents">
            <button>カートへ進む</button>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag("beef.jpg", class: :product_image), root_path %>
          <ul class="item-detail">
            <li>商品名：XXX</li>
            <li>1kg当たり</li>
            <li class="price">2500円</li>
          </ul>
          <input class="kg">kg
          <input class="sum_price">円
          <div class="reserve-btn-contents">
            <button>カートへ進む</button>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag("beef.jpg", class: :product_image), root_path %>
          <ul class="item-detail">
            <li>商品名：XXX</li>
            <li>1kg当たり</li>
            <li class="price">2500円</li>
          </ul>
          <input class="kg">kg
          <input class="sum_price">円
          <div class="reserve-btn-contents">
            <button>カートへ進む</button>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag("beef.jpg", class: :product_image), root_path %>
          <ul class="item-detail">
            <li>商品名：XXX</li>
            <li>1kg当たり</li>
            <li class="price">2500円</li>
          </ul>
          <input class="kg">kg
          <input class="sum_price">円
          <div class="reserve-btn-contents">
            <button>カートへ進む</button>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag("beef.jpg", class: :product_image), root_path %>
          <ul class="item-detail">
            <li>商品名：XXX</li>
            <li>1kg当たり</li>
            <li class="price">2500円</li>
          </ul>
          <input class="kg">kg
          <input class="sum_price">円
          <div class="reserve-btn-contents">
            <button>カートへ進む</button>
          </div>
        </div>
        <div class="item">
          <%= link_to image_tag("beef.jpg", class: :product_image), root_path %>
          <ul class="item-detail">
            <li>商品名：XXX</li>
            <li>1kg当たり</li>
            <li class="price">2500円</li>
          </ul>
          <input class="kg">kg
          <input class="sum_price">円
          <div class="reserve-btn-contents">
            <button>カートへ進む</button>
          </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

