<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('logo2.jpg'), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @item, url: items_path, local: true do |f| %>    

    <%= render 'shared/error_messages', model: f.object %>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          商品の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :detail, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（食感、味わい、等)" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>
    
    <%# 内容量 %>
    <div class="items-detail">
      <div class="weight-bold-text">商品の内容量</div>
      <div class="form">
        <div class="weight-bold-text">
          内容量
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :amount, class:"items-text", id:"amount", placeholder:"1kg,100g,他（必須 40文字まで)", maxlength:"40" %>
        <span class="sell-yen">当たり</span>
      </div>
    </div>
    <%# /内容量 %>

    <%# 販売価格 %>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>税込価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>
    <%# /販売価格 %>

    <%# 商品の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">商品の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"input-default", id:"item_category"}) %>
        <div class="weight-bold-text">
          産地
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :locality, class:"items-text", id:"item-locality", placeholder:"産地名（必須 40文字まで)", maxlength:"40" %>
        <div class="weight-bold-text">
          保存方法
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :preservation, class:"items-text", id:"item-preservation", placeholder:"保存方法（必須 40文字まで)", maxlength:"40" %>
        <div class="weight-bold-text">
          消費期限
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :expiry_date, class:"items-text", id:"item-expiry-date", placeholder:"消費期限（必須 40文字まで)", maxlength:"40" %>
      </div>
    </div>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
  <% end %>  
  <%# /商品の詳細 %>

</div>

  